.menu
  position: fixed
  top: 0
  left: 0
  z-index: 99
  background: linear-gradient(to bottom, #043c5e, #0d1d2b)
  width: 100%
  height: 100vh

  &__container
    @extend .container
    @include ipad-pro
      margin-top: 15%
      max-height: 455px
    @include tablet
      flex-direction: row
    @include phone
      flex-direction: column
      margin-top: 3rem
      height: 100%
    margin-top: 5%
    height: 70%
    min-height: 455px

  &__hamburger
    @include hamburger-basic($hero-white, .25s, 2rem, 1.15rem)
    top: 2rem
    left: 2rem
    margin-right: 1rem

  &__logo
    @include phone
      display: none
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    width: rem-calc(240)

  &__col
    @include tablet
      padding: rem-calc(180) 0 0
    padding: rem-calc(180) 2rem 0

    &--right
      @extend .col-5
      @include tablet
        flex-basis: calc((6/12) * 100%)
        padding-left: 1rem
        width: calc((6/12) * 100%)

    &--left
      @extend .col-6
      @include tablet
        flex-basis: calc((6/12) * 100%)
        padding-right: 1rem
        width: calc((6/12) * 100%)
      @include phone
        border-right: none
        text-align: left
      border-right: 1px solid $grey
      text-align: right

    @media screen and (max-width: $screen-xs)
      flex-basis: 44%
      padding: 0
      width: 100%

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
      flex-basis: 45%

  &__links
    @include phone
      text-align: left
    display: inline-block
    text-align: right

  &__link
    @extend h1
    @include phone-sm
      font-size: 26px
    transition: color .2s ease
    cursor: pointer

    &:hover
      color: $grey

  &__content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: rem-calc(48)

  &__location
    // @include phone
    //   width: 25%
    width: 49%
    font-size: 14px

    &:nth-child(n+3)
      margin-top: 2rem

  &__city
    font-weight: 700
