.pages-home(v-if='props')
  Announcement
  full-page#fullpage(:options='fullpageOptions', ref='home')
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      Hero
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      Welcome
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      DrJain
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      NewTeam
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      Treatments
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      Patients
    .pages-home__section(:class="{ 'fp-auto-height': $store.state.mobile }")
      Contact    
                
