.navigation
  .navigation__navbar
    .navigation__hamburger(@click='toggleMenu')
      span
      span
      span
      span
    .navigation__buttons
      a.navigation__appt-btn(href='https://formsroostergrin.com/wainwright/Wainwrightortho_Patient_Information_Form.html', target='_blank')
        span New Patient Forms
      a.navigation__appt-btn(v-if='!$store.state.mobile', href="https://localsloveus.com/vote/213270/", target='_blank')
        span Vote here!
      a.navigation__appt-btn(v-if='$store.state.mobile', href="https://localsloveus.com/vote/213270/", target='_blank')
        span Vote!
      .navigation__appt-btn(@click='openModal')
        span(v-if='!$store.state.mobile') Schedule A Complimentary Consultation/No Referral Needed
        span(v-if='$store.state.mobile') 
          div Free Consultation/
          div No Referral Needed
      a.navigation__appt-btn(href='https://patient-portal-prd-cluster-2.sesamecommunications.com/tmoss1/index.html', target='_blank')
        span Patient Account Login
