.navigation
  .navigation__navbar
    .navigation__hamburger(@click='toggleMenu', :class="{ 'navigation__hamburger--open': $store.state.nav }")
      span
      span
      span
      span
    .navigation__buttons
      a.navigation__appt-btn(v-if='!$store.state.mobile', href="https://localsloveus.com/vote/213270/", target='_blank')
        span Vote here!
      a.navigation__appt-btn(v-if='$store.state.mobile', href="https://localsloveus.com/vote/213270/", target='_blank')
        span Vote!
      .navigation__appt-btn(@click='openModal')
        span(v-if='!$store.state.mobile') Schedule A Complimentary Consultation
        span(v-if='$store.state.mobile') Free Consultation
      a.navigation__appt-btn(v-if='!$store.state.mobile', href='https://patient-portal-prd-cluster-2.sesamecommunications.com/tmoss1/index.html', target='_blank')
        span Patient Login
