.navigation
  .navigation__navbar
    .navigation__hamburger(@click='toggleMenu', :class="{ 'navigation__hamburger--open': $store.state.nav }")
      span
      span
      span
      span
    .navigation__appt-btn(@click='openModal') 
      span(v-if='!$store.state.mobile') Schedule A Complimentary Consultation
      span(v-if='$store.state.mobile') Free Consultation
