.modal
  .modal__overlay(@click='handleClose')
  .modal__container
    .modal__close(@click='handleClose')
      span
      span
    Icon.modal__logo(name='Logo')
    .modal__instructions No dental referral is needed to schedule your free consultation.
    .modal__instructions Please fill out the form below and we will get back to you shortly.      
    .modal__content
      Form    
