.modal
  .modal__overlay(@click='handleClose')
  .modal__container
    .modal__close(@click='handleClose')
      span
      span
    Icon.modal__logo(name='Logo')      
    .modal__content
      Form    
