// -----------------------
// color defaults
// -----------------------
$gray: #ccc
$danger: tomato
$spinner: #0092ff
$spinner-bg: #fff
$white: #f9f9f9
$white-two: rgb(216, 216, 216)
$black: rgb(15, 15, 15)

$black-hover: lighten($black, 50%)

// -----------------------
// project colors
// -----------------------

// dark blue - marine
$c1: #052b48
// dusty orange
$c2: #ea7423
// light green - aquamarine
$c3: #07dc9d
// blue/gray - cloudy blue
$c4: #a9b9d0
// grey-brown - greyish-brown
$c5: #555555
// light grey - pale-grey
$c6: #e2e7ef
// dark blue - dark-grey-blue
$c7: #2e466e
// light blue - light-blue-gey
$c8: #cad7eb
// dark grey brown - greyish-brown-darker
$c9: #3f3d3d
// light blue - sky-blue
$c10: #71a6ff
// blue
$c11: #5e7ba5
// blue - 2
$c12: #7595c4
// blue - 3
$c13: #839dc4
// darker blue
$c14: #031f35

// -----------------------
// box shadows
// -----------------------

$shadow: rgba(15, 15, 15, .25)
$shadow2: rgba(90, 33, 73, .5)
$shadow3: rgba(136, 116, 106, .5)

$bs1: rgba(0, 0, 0, 0.31)
$bs2: rgba(0, 0, 0, 0.17)

// -----------------------
// overlays
// -----------------------

$ol1: rgba(57, 57, 57, 0.6)
