*
  box-sizing: border-box

body
  @include desktop-lg
    font-size: 18px
  @include phone
    font-size: 14px
  @include phone-height
    font-size: 14px
  margin: 0
  text-rendering: optimizeLegibility
  line-height: 1.13
  color: $hero-white
  font-family: $kannada
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  @include phone
    font-size: 32px
  @include phone-height
    font-size: 32px
  line-height: 1.61
  font-family: $montserrat
  font-size: 36px

h2
  @extend h1
  font-weight: 700

h3
  line-height: 1
  font-size: 18px

a
  display: block
  transition: color .2s ease
  text-decoration: none
  color: $hero-white

  &:hover
    color: $grey
p
  margin: 0
