.form-contact
  .form-contact__thank-you(v-if='formSuccess')
    h1 Thank You!
    .form-contact__instructions Thank you for your message, we will get back to you shortly. 
    
  form.form-contact__form(@submit.prevent='validate', method='post', v-if='!formSuccess')
    .form-contact__instructions No dental referral is needed to schedule your free consultation.
    .form-contact__instructions Please fill out the form below and we will get back to you shortly.
    
    .form-contact__container
      
      .form-contact__col
      
        .form-contact__group
          label.sr-only Name
          input.form-contact__input(name='fullname', v-model='fullname', v-validate="'required|alpha_spaces'", :class="{ 'form-contact__input--error': errors.has('fullname') }", type='text', placeholder='Name')
          .form-contact__message
              span(v-show="errors.has('fullname')") Your name is required.
        
        .form-contact__group
          label.sr-only Email
          input.form-contact__input(name='email', v-model='email', v-validate="'required|email'", :class="{ 'input': true, 'form-contact__input--error': errors.has('email') }", placeholder='Email')
          .form-contact__message
            span(v-show="errors.has('email')") Please Input a Valid Email
        
        .form-contact__group
          label.sr-only Phone Number
          input.form-contact__input(name='phone', v-model='phone', v-validate="'required'", :class="{ 'input': true, 'form-contact__input--error': errors.has('phone') }", placeholder='(555) 555-555')
          .form-contact__message
            span(v-show="errors.has('phone')") Please Input a Valid Phone Number
            
        .form-contact__group
          label.sr-only Location
          select.form-contact__input--select(name='location' v-model='location' v-validate="'required'", :class="{ 'input': true, 'form-contact__input--error': errors.has('location') }")      
            option(value='' disabled hidden) Select Location
            option(value='LeClaire') LeClaire
            option(value='Bettendorf') Bettendorf
            option(value='Moline') Moline
            option(value='Sterling') Sterling
          Icon.form-contact__arrow(name='ArrowLft') 
          .form-contact__message
            span(v-show="errors.has('phone')") Please Select a Location  
    
      .form-contact__col   
      
        .form-contact__group
          label.form-contact__label Message
          textarea.form-contact__input.form-contact__input--textarea(name='message', v-model='message' rows='8')
        
    .form-contact__button-group
      button.form-contact__submit-button(@click='validate', type='submit', :disabled='formSubmitted' role='button')
        span Submit
