.contact
  @include ipad-pro
    height: 50vh
  @include tablet
    height: 60vh
  height: 100%

  &__overlay
    position: absolute
    top: 0
    left: 0
    z-index: 2
    background: $overlay-map
    width: 100%
    height: 100%

  &__map
    background-color: $grey
    width: 100%
    height: 100% !important

  &__marker
    transition: height .3s ease, width .3s ease
    opacity: 0
    z-index: 3
    background-repeat: no-repeat
    background-position: top
    cursor: pointer
    width: 2rem
    height: 5.9rem

    &--hover
      width: 2.2rem
      height: 6.5rem

    &.mapboxgl-marker
      animation: marker .6s ease forwards

      @keyframes marker
        0%
          opacity: 0
        100%
          opacity: 1

  .mapboxgl-popup
    z-index: 3

    p
      line-height: 1.15 !important

    &-close-button
      color: $hero-white !important

    &-tip
      display: none

    &-content
      border-radius: 0 !important
      background: rgba($deep-grey, .3) !important

  .mapboxgl-ctrl-bottom-left
    display: none !important

  &__form-container
    @include tablet
      top: calc(63% - 80px)
    @include phone
      top: calc(74.5% - 150px)
      max-width: 100%
    position: absolute
    top: calc(65% - 60px)
    right: 0
    transition: all .35s ease
    z-index: 9
    background: rgba($white, .38)
    width: 100%
    max-width: 270px
    height: 60px
    overflow: hidden

    &--active
      @include tablet
        top: calc(60% - 354px)
        background: rgba($white, .48)
        height: 354px
      @include phone
        top: 0
        background: $blue
        height: 100vh

      top: calc(65% - 380px)
      transform: translateX(100%)
      padding: 2rem
      max-width: 612px
      height: 380px

    .active &,
    .is-mobile &
      animation: slide-out .35s ease .35s forwards
      opacity: 0

      @keyframes slide-out
        0%
          transform: translateX(100%)
          opacity: 0
        10%
          opacity: 1
        100%
          transform: translateX(0)
          opacity: 1

  &__form-title
    // display: flex
    // align-items: center
    // justify-content: center
    display: inline-block
    cursor: pointer
    padding: rem-calc(2) rem-calc(8)
    // margin-bottom: rem-calc(12)

    span
      @extend h1

    .contact__form-container--active &
      // justify-content: flex-start
      padding: 0

  &__arrow
    display: inline-block
    transition: opacity .2s ease-in
    margin-left: rem-calc(14)
    width: 2rem
    height: rem-calc(46)
    vertical-align: bottom
    // line-height: 1.61

    .contact__form-container--active &
      opacity: 0

  &__form-close-btn
    position: absolute
    top: 2rem
    right: 2rem
    cursor: pointer
    width: rem-calc(22)
    height: rem-calc(22)

    span
      display: block
      position: absolute
      top: 0
      left: 0
      transition: background .2s ease
      background: $hero-white
      width: rem-calc(22)
      height: 2px

      &:first-child
        transform: rotate(45deg)

      &:last-child
        transform: rotate(-45deg)

  &__lower
    @include tablet
      top: 60%
      height: 40%
    @include phone
      position: relative
      top: -30%
      height: 85%
    @include phone-sm
      height: 110%
    position: absolute
    top: 65%
    left: 0
    z-index: 5
    background: $dark-grey
    width: 100%
    height: 35%

  &__container
    @extend .container
    @include tablet
      flex-direction: row
    @include phone
      flex-direction: column
      padding-top: 2rem
    align-items: center
    height: 100%

  &__left,
  &__right,
  &__middle
    @include phone
      width: 100%
    display: flex
    width: 33%

  &__middle
    @include phone
      order: 2
      margin-top: 1rem
    flex-direction: column
    align-items: center

  &__left
    @include phone
      justify-content: center

  &__right
    @include phone
      justify-content: center
    justify-content: flex-end

  &__location
    transition: color .2s ease
    cursor: pointer
    font-size: 14px

    &:nth-child(odd)
      @include tablet
        margin-right: rem-calc(12)
      @include phone
        margin-bottom: 10px
      margin-right: 1.5rem

    &:hover
      color: $white

    @media screen and (max-width: $screen-sm)
      font-size: 12px

    @media screen and (max-width: $screen-xs)
      width: 128px

  &__city
    font-weight: bold

  &__logo
    width: rem-calc(180)

  &__social
    display: flex

  &__link-icon
    margin: 1rem rem-calc(12) 0
    width: rem-calc(30)
    height: rem-calc(30)
