.contact
  .contact__overlay
  .contact__map(ref='map')
  .contact__form-container(:class="{ 'contact__form-container--active': formActive }")
    .contact__form-close-btn(v-if='formActive' @click='closeForm')
      span
      span
    .contact__form-title(@click='toggleForm')
      span Contact Us
      Icon.contact__arrow(name='ContactArrow')
    .contact__form
      Form  
  .contact__lower
    .contact__container
      .contact__left
        .contact__location(v-for='location, i in props.features', :key='i' v-if='i <= 1' v-html='location.popup')
      .contact__middle
        Icon.contact__logo(name='Logo')
        .contact__social
          a.contact__link(v-for='link, j in props.social', :key='j', :href='link.href' target='_blank' rel='noopener noreferrer')
            Icon.contact__link-icon(:name='link.icon')  
      .contact__right
        .contact__location(v-for='location, k in props.features', :key='k' v-if='k > 1' v-html='location.popup')
      .contact__language    
