.custom-announcement( v-bind:class="{ close: !isShowing }" )
  .custom-announcement__close-button( @click='closeModal' ) X
  .custom-announcement__announcement
    h3 STERLING PATIENTS ONLY:
    p Our Sterling location will be closed for remodeling from noon on Friday, December 6th and will reopen the week of December 23rd. During this time, calls will be forwarded to our Quad City area locations and any orthodontic appointments can be seen there.