.custom-announcement( v-bind:class="{ close: !isShowing }" )
  .custom-announcement__close-button( @click='closeModal' ) X
  .custom-announcement__announcement
    h3 Update for Sterling area patients only:
    p During the time of the Sterling office remodel, we have a chair available so an assistant can see a patient with an orthodontic emergency such as a broken/poking wire. All other appointments should be scheduled in one of our Quad City area locations during the remodel by calling 815-625-3504.<br><br>Thank you for your patience during this effort to make our Sterling office more functional and up to date.