.new-team
  .new-team__wrapper
    .new-team__upper
      .new-team__title(v-html='props.title')
      .new-team__container(v-for='(location, i) in props.new_team.location' v-if='i === selectedLocation', :key='`location--${i}`')
        .new-team__members
          .new-team__members--wrapper
            .new-team__member(v-for='(member, j) in location.members', :key='`member--${j}`')
              img(:src='member.img.src')
              .new-team__member--content
                .new-team__member--name(v-html='`${member.name}`')
                .new-team__member--role(v-html='member.role')
                //- .new-team__member--bio(v-html='member.bio')

        a.new-team__dir-btn(href='https://wainwrightortho.com/wp-content/uploads/2020/03/Website-Employee-Directory-4.pdf' target="_blank")
          span(v-if='!$store.state.mobile') Employee Directory

    .new-team__lower
      .new-team__location(v-for='location, j in props.locations' @click='toggleLocation(j)', :key='j', :class="{ 'team__location--selected': selectedLocation === j }")
        .new-team__bg(:style="{ backgroundImage: 'url(' + location.bg + ')' }")
        .new-team__city(v-html='location.city')
