.team
  .team__wrapper
    .team__upper
      .team__title(v-html='props.title')
      .team__container(v-for='team, i in props.teams' v-if='i === selectedLocation', :key='i')
        .team__row(v-for='row, k in team.row', :key='k', :style="{ zIndex: (k * -1) + 9 }", :class="{'team__row--front': k === 0, 'team__row--rear': k === 1, 'team__row--leclaire': i === 0 || 2 || 3 }  ")
          img.team__member(v-for='member, l in row.members', :key='l' @mouseover='handleHover(l, k)', :class="{ 'team__member--active': activeMember === l && activeRow === k }", :src='member.member', :style="{ zIndex: l <= (Math.floor(row.members.length / 2)) ? l + 1 : row.members.length - l }")
        .team__content-row(v-for='item, n in team.content_row', :key='n + 2')
          transition-group(name='fade' tag='div')
            .team__content(v-for='content, m in item.content', v-if='m === activeMember && n === activeRow', :key="'member'+m", :class="{ 'team__content--left': m < Math.floor(team.row[0].members.length / 2), 'team__content--right': m > Math.floor(team.row[0].members.length / 2), 'team__content--center': m === Math.floor(team.row[0].members.length / 2), 'team__content--hide': content.name === 'Dr. Wainwright' }")
              .team__name(v-html='content.name')
              .team__bio(v-html='content.bio')
        a.team__dir-btn(href='https://wainwrightortho.com/wp-content/uploads/2019/07/Website-Employee-Directory-3.pdf' target="_blank")
          span(v-if='!$store.state.mobile') Employee Directory

    .team__lower
      .team__location(v-for='location, j in props.locations' @click='toggleLocation(j)', :key='j', :class="{ 'team__location--selected': selectedLocation === j }")
        .team__bg(:style="{ backgroundImage: 'url(' + location.bg + ')' }")
        .team__city(v-html='location.city')
