$color: #2c3e50
$green: #42b983
.app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin-top: 60px
  text-align: center
  color: $color
  font-family: 'Avenir', Helvetica, Arial, sans-serif

a
  color: $green

ul
  padding: 0
  list-style-type: none

li
  display: inline-block
  margin: 0 10px
